.news_link {
  position: relative;
}
.news_link::before {
  content: " ";
  width: 0;
  height: 3px;
  background-color: white;
  position: absolute;
  bottom: 10px;
  left: 0;
  border-radius: 10px;
  transition: ease-in-out 0.3s;
}
.news_link:hover::before {
  width: 100%;
}
